<%- include('../partials/header') -%>
<div class="error">
    <h1> Erreur</h1>
    
    <p>Cette page ne fonctionne pas, je vous invite à vous rejoindre la <a href="/" alt="page d'accueil">page d'accueil</a></p>
    
</div>
<%- include('../partials/footer') -%>
