<%- include('../partials/header') -%>
    <section class="home-page">
        <div class="flavia"><img class="flav" src="/img/Flavia.jpg" alt="Photo de Flavia"></div>
        <div class="home">
            <div class="welcome">
                <p>Bienvenue !</p>
                <p>Je m'appelle Flavia et ceci est mon portfolio.</p>
                <p>Je suis Développeuse Back-end Node.js</p>
            </div>
            <div class="menus">
                <a href="/about" class="menu-one" id="about">
                    <p><i class="right-aside far fa-address-card"></i> Mon Profil vous intéresse ? Venez en savoir un peu
                        plus sur cette page</p>
                </a>
    
                <a href="/project" class="menu-two" id="projects">
                    <p><i class="fas fa-book"></i> Voici quelques uns de mes projets</p>
                </a>
    
                <a href="/photography" class="menu-three" id="hobbies">
                    <p><i class="fas fa-camera-retro"></i> Une de mes passions, la photographie </p>
                </a>
    
    
                <a href="/link" class="menu-four" id="links">
                    <p><i class="fas fa-link"></i> Vous souhaitez en savoir plus sur le développement, vous trouverez des
                        liens utiles en suivant ce lien </p>
                </a>
    
                <a href="/opinion" class="menu-five" id="opinion">
                    <p><i class="fas fa-thumbs-up"></i> Je vous remercie d'avoir passer quelques instants sur mon portfolio,
                        voulez vous laisser un petit smiley ? </p>
                </a>
    
                <a href="/message">
                    <p><i class="far fa-comment"></i> Voulez-vous me laisser un message ? </p>
                </a>
            </div>
    
        </div>
    </section>
<%- include('../partials/footer') -%>
