<h1 id="#projects">Projets</h1>

<!-- Filter button-->
<div id="myBtnContainer" class="btn-container">
    <button class="btn active" onclick="filterSelection('all')">Tous</button>
    <?php foreach ($LanguagesIt as $it): ?>
    <button class="btn"
        onclick="filterSelection('<?=htmlspecialchars($it['name']) ?>')"><?=htmlspecialchars($it['name']) ?></button>
    <?php endforeach; ?>
</div>

<section class="filter-container">
    <!-- project filter by language -->
    <?php foreach ($projects as $project): ?>
    <article class="project filterDiv <?php foreach ($languages as $language): ?>
            <?php if($language['project'] === $project['project']): ?>
        <?=htmlspecialchars($language['languages_IT']) ?>
        <?php endif; ?>
        <?php endforeach; ?>">

        <!-- Project name  -->
        <h2><?=htmlspecialchars($project['project']) ?></h2>
        
        <!-- Tag languages -->
        <p class="project-languages"> <?php foreach ($languages as $language): ?>
            <?php if($language['project'] === $project['project']): ?>
            <?=htmlspecialchars($language['languages_IT']) ?>
            <?php endif; ?>
            <?php endforeach; ?>
        </p>

        <!-- Project  description -->
        <p><?=htmlspecialchars($project['description']) ?></p>
     
        <!-- link project-->
        <a href="<?=htmlspecialchars($project['src']) ?>" target="_blank">
            <img src="<?=htmlspecialchars($project['link']) ?>" alt="<?=htmlspecialchars($project['alt']) ?>"></a>

            <!-- Database -->
            <?php if($project['data_base']): ?>
                <a href="<?=htmlspecialchars($project['data_base']) ?>" target="_blank">
                 <img src="<?=htmlspecialchars($project['data_base']) ?>" alt="<?=htmlspecialchars($project['data_base_alt']) ?>"></a>
            <?php endif; ?>
    
    </article>
    <?php endforeach; ?>
</section>