</main>

<!-- Footer -->
<footer>
    <section class="information">
        <h3 id="contact">Contactez-moi</h3>
        <div>
            <!--Linkedin link -->
            <a href="https://fr.linkedin.com/in/flaviafontaineit/fr" target="_blank"
            title="S'ouvre dans un  nouvel onglet vers la page Linkedin">
            <i class="fab fa-linkedin"></i></a>
            <!--Git link -->
            <a href="https://github.com/FlavF" target="_blank" title="S'ouvre dans un  nouvel onglet vers la page Linkedin">
                <i class="fab fa-github"></i></a>
                <!--To write to me link -->
                <span>
                    <a href="/message" id="message">
                        <i class="far fa-comment"></i>
                    </a>
                </span>
                <div>
                    <em>Dernière mise à jour le 06 août 2022</em>
                </div>
            </div>
        </section>
        
        <!-- Button to go back up -->
        <img src="img/icon/upbutton.svg" alt="cliquer pour retourner en haut de la page" id="button-top"
        class="button-top hidden">
    </footer>
    
    <!-- ===========SCRIPTS =========== -->
    <!-- IF NOT JAVASCRIPT -->
    <noscript>Your browser does not support JavaScript! You will not be able to enjoy all the contents in this website
        // Votre navigateur ne supporte pas JavaScript. Vous n'aurez donc pas toutes les fonctionnalités. </noscript>
        
        <!-- MAIN SCRIPT-->
        <script src="js/main.js"></script>
    </body>
    </html>