<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio de Flavia">
    <meta name="google-site-verification" content="6HGmcLhkK_cfgn3gWSe1QF8OEJtosCmDU45dR5nDZ_c" />
    <title>Portfolio de Flavia</title>
    <!-- Favicon-->
    <link rel="icon" href="img/favicon_io/favicon-16x16.png" type="image/png" sizes="16x16">
    <!-- Normalize -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <!-- Style page -->
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="header">
            <a href="/" alt="page d'accueil"><img class="logo" src="img/logo/LogoFlaviaDev-1.png" alt="logo"></a>
            
            <div>
                <input type="checkbox" name="darkmode" id="darkmode" class="darkmodes">
                <label for="darkmode" class="dark">
                    
                    <i class="fa-regular fa-sun"></i>
                    <i class="fa-regular fa-moon"></i>
                    <div class="ball"></div>
                </label>
            </div>
        </div>
    </header>
    <main class="container">

        <!-- TODO Possibility to do the menu via database + loop here
        href; class ; id ; title; icon  -->
        <aside class="sidenav">
            <!-- Menu -->
            <a href="/about" class="menu-one" id="about">
                <p>Mon Profil <i class="right-aside far fa-address-card"></i></p>
            </a>
            
            <a href="/project" class="menu-two" id="projects">
                <p>Mes Projets <i class="fas fa-book"></i></p>
            </a>
            
            <a href="/photography" class="menu-three" id="hobbies">
                <p>Photographie <i class="fas fa-camera-retro"></i></p>
            </a>
            
            <a href="/link" class="menu-four" id="links">
                <p>Liens utiles <i class="fas fa-link"></i></p>
            </a>
            
            <a href="/opinion" class="menu-five" id="opinion">
                <p>Votre avis <i class="fas fa-thumbs-up"></i></p>
            </a>
            
        </aside>